*.d
*.a
*.o
*.so
*.aux
*.toc
*.log
*.bcf
*.run.xml
*.bbl
*.blg
.tmpfile
config.mk
*.out
doc/olb-ug-*/olb-ug.pdf
doc/doxygen/
tags
cscope.files
create_cscope_files
_vimrc_local.vim
*~
/.ptp-sync/
.ptp-sync-folder
.DS_Store
*.vti
*.vtm
*.pvd
*.vtp
*.dat
*.old
*.vtk
*.tar.gz
*.gif
*.vtu
*.ppm
*.notempty
*.json
*.pvsm
*.stl

.cproject
.settings
.project

*.fls
*.fdb_latexmk
*.gp
*.png
*.pdf

*.swp
.ycm_extra_conf.py

git_ignore
git_ignore/
.cache/
.clangd/
__pycache__
/.vs
.ccls
.ccls-cache/
.idea/
build/
